.App {
  background-image: url(new-zealand.jpg);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  background-size: cover;
  background-position: bottom;
  font-family: "Montserrat", sans-serif;
}

.App footer {
  margin-top: 0px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: white;
}
