.App {
  background-image: url("https://wallpapersmug.com/u/29b21f/beautiful-landscapes-of-new-zealand-4k.jpg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.App footer {
  margin: 5px 0;
  font-size: 16px;
}
