.Weather {
  border: 1px solid white;
  border-radius: 5px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  max-width: 600px;
  margin: 20px auto;
}

.Weather form {
  margin-top: 10px;
  margin-bottom: 40px;
}

.Weather .btn {
  background-color: transparent;
  color: white;
}

.Weather .btn:hover {
  background-color: transparent;
  border: 1px solid #be90aa;
  color: #be90aa;
}

.Weather h1 {
  color: #be90aa;
  text-align: center;
  font-size: 46px;
  font-weight: bold;
  font-family: "Poiret One", cursive;
}

.Weather ul {
  list-style: none;
  text-align: left;
}

.Weather .temperature {
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-right: 10px;
}

.Weather canvas {
  margin-right: 15px;
  margin-left: 15px;
  display: inline-block;
  vertical-align: top;
}

.Weather .unit {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -32px;
}

.Weather p {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}
