.Weather {
  border: 1px solid #161d6f;
  border-radius: 5px;
  padding: 30px;
}

.Weather form {
  margin-bottom: 30px;
}

.Weather button {
  background-color: #161d6f;
  color: white;
}

.Weather button:hover {
  background-color: white;
  color: #161d6f;
  border-color: #161d6f;
}

.Weather ul {
  list-style: none;
  position: relative;
  left: 100px;
}

.Weather h1 {
  color: #161d6f;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  font-family: "Amatic SC", cursive;
}

.Weather .temperature {
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-right: 10px;
}

.Weather canvas {
  margin-right: 15px;
  margin-left: 15px;
  display: inline-block;
  vertical-align: top;
}

.Weather .unit {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -32px;
}

.Weather p {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}
